body{
    font-family: 'Google Sans','Roboto',Arial,sans-serif;
}

.hello{
    width: 126.29px;
    height: 40px;
    margin: 20px;
}

.helloribbon{
    text-align: center;
    padding: 20px;
    margin: 5px;
}

h4{
    padding: 20px;
}

.btn{
    background: #2962ff;
    background-image: -webkit-linear-gradient(top, #2962ff,#2962ff);
    background-image: -moz-linear-gradient(top, #2962ff, #2962ff);
    background-image: -ms-linear-gradient(top, #2962ff, #2962ff);
    background-image: -o-linear-gradient(top, #2962ff,#2962ff );
    background-image: linear-gradient(top, #2962ff , #2962ff);
    -webkit-border-radius: 8;
    -moz-boder-radius: 8;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100px;
}

.btn btn-primary{
    color: white;
}

.card-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
}

.card-text{
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 40px;
}

.card{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    padding: 2px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 16px auto 0;
    width: 350px;
}

@media screen and (min-width: 600px){
    .col-lg-6{
        position: relative;
        left: 155px;
    }
}

@media screen and (min-width: 600px){
    .col-lg-4{
        position: relative;
        right: 35px;
    }
}

/*i was able to give my cards a column that will align in the center when viewd with mobile and on the web. i tried to make the cards responsive for every screen type but i couldn't*/